body{
  background-color: #E5ECF4;
  font-family: "Arial";
}
.container{
  background-color: white;
}
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}


#footer{
  height:90px;   /* Height of the footer */
  background:#6cf;
  margin-top: 10px;
}
.well{
  padding: 0px 15px;
  margin-top: 10px;
  background-color: white;
}
.panel{
margin-top: 10px;
margin-bottom: 0px;
}
.content-view{
  padding-right: 10px;
  padding-left: 0px;
}

hr{
  margin: 0px;
}

/*------------------------------------*/
.navbar{
  background-color: #115D9D;
  border: none;
}
.navbar-inverse .navbar-nav>li>a, .navbar-header .navbar-brand{
  color: white;
  font-size: 15px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.navbar-collapse .nav>li:hover>a, .navbar-collapse .nav>li.active>a, .navbar-collapse .nav>li.dropdown:hover>a, .navbar-collapse .nav>li.dropdown.active>a, .navbar-header .navbar-brand:hover, .navbar-header .navbar-brand.active{
  color: black;
  background-color: #ddd;
 
}
.dropdown-menu>li>a:hover, .dropdown-menu>li.dropdown>a:hover{
  background:#5fd4f7;
}
@media (min-width: 768px) {
  .nav>li:before{ position: absolute; left: 0; top:15%; height:70%; width:1px; background:#5fd4f7; content:"";}
  .navbar-right>li:before{ display: none; position: absolute; left: 0; top:15%; height:70%; width:0px; background:#5fd4f7; content:"";}
.navbar{
  height: 40px;
  margin-bottom: 0px;
  border-radius: 0px;
}
}
/*------------------------------------*/
.side-panel{
  padding-left: 5px;
  padding-top: 10px;
  margin: 0px;
  text-align: left;
}
.side-panel ul{
	padding: 0px;
	margin-left: 20px;
}
.side-panel ul li a, .list-group a{
	font-family: "Arial";
}
.post-title{
	color: red;
	text-align: left;
	font-family: "Arial";
}
.post-item{
	font-size: 1.2em;
	font-family: "Arial";
}
.post-poster{
	max-width: 100px;
	max-heigh: 100px;
	margin-right: 10px;
}
.post-date{
	text-align: left;
	font-style: italic;
	font-size: 0.9em;
	font-color: #dddddd;
}
.post-content{
	text-align: justify;
}
.panel-body{
	padding: 5px;
}
.search-panel{
	padding: 10px 10px 0px;
}
/* Custom styling*/
.wrapper{
	min-height: 100%;
	position: relative;
}

.footer{
	position: absolute;
	bottom: 0;
	height: 60px;
}

/*Toggle Switch code*/

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.help-block {
	color: #ff0000;
	text-align: left;
}
/* landing css */

.landingImg {
	width: auto;
	height : 180px;
}

.manage-body, #postsTable{
	
	margin-left: 6px;
}

.se-pre-con{
		position:fixed;
		left:0;
		top:0;
		width:98%;
		height:100%;
		z-index:9999;
		background:url(../images/pre-loader.gif) 50% no-repeat #fff
}
#dropdownMenu1{
	height: 40px;
	font-size: 15px;
	background: inherit;
	color: #ffffff;
	top: 5px;
}
/*--------------------------------------*/
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
/*--------------------------------------*/
.dataTableImg {
	
	width:100px;
	height: 100px;
	
}

.has-success {
	color: #4582ec;
}

.main-content{
	border: #cacaca solid 1px;
	text-align: left;
}
.main-list-annount{
	list-style-image: url("../images/list-style.png");
	padding: 0px;
	margin-left: 20px;
}
.list-post{
	list-style-type: none;
	padding: 0px;
}
.list-post li a{
	text-decoration: none;
}
.panel{
	background: none repeat scroll 0 0 #fdfdfd;
	border: 1px solid #ddd;
}

.panel > .heading-main {
    background: url("../images/bg-h.gif") repeat-x scroll left bottom #ffffff;
    border-bottom: 1px solid #e6e6e6;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	color: #293093;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	font-weight: bold;
	height: 35px;
	padding: 8px 10px;
	text-align: left;
	text-transform: uppercase;
	margin: 0;
}
.panel > .panel-body{
	text-align: left;
}
.panel-foot{
	text-align: right;
	color: #00ff00;
	font-size: 12px;
}
.post-content{
	padding: 5px;
	overflow: auto;
}
li.dropdown > .logout-drop{
	min-width: 150px;
}

ul.navbar-right>li.dropdown>a{
	border: none;
}
.main-page{
	padding: 10px 5px;
}
.album-image-wrapper{
	margin: 0px 0px 5px;
	padding: 0px 5px;
	height: 200px;
	overflow: hidden;
}
.album-image-main{
	width: 100%;
	height: 140px;
	margin: 0px 0px;
}
.list-post{
	text-align: left;
	margin-top: 10px;
}
span.file-name{
	max-width: 100%;
	word-wrap: break-word;
}
.file-item{
	max-width: 200px;
	max-height: 200px;
	float: left;
}