USE [master]
GO
/****** Object:  Database [HoaBinh]    Script Date: 9/8/2017 12:33:43 AM ******/
CREATE DATABASE [HoaBinh]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HoaBinh', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.NGOCTHANG\MSSQL\DATA\HoaBinh.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HoaBinh_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.NGOCTHANG\MSSQL\DATA\HoaBinh_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HoaBinh].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HoaBinh]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 9/8/2017 12:33:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Description] [nvarchar](500) NULL,
	[ImageUrl] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_PostCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Post]    Script Date: 9/8/2017 12:33:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Post](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NULL,
	[PContent] [text] NULL,
	[AuthorId] [int] NULL,
	[CategoryId] [int] NULL,
	[DateCreated] [datetime] NULL,
	[IsActive] [bit] NULL,
	[Alias] [varchar](100) NULL,
	[DateModified] [datetime] NULL,
	[ViewCount] [int] NULL,
 CONSTRAINT [PK_Post] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User]    Script Date: 9/8/2017 12:33:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[FullName] [nvarchar](50) NULL,
	[Role] [varchar](20) NULL,
	[IsActivate] [bit] NULL,
	[Email] [varchar](50) NULL,
	[Phone] [varchar](20) NULL,
	[Profile] [text] NULL,
	[ImageUrl] [varchar](100) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [Name], [Description], [ImageUrl], [IsActive]) VALUES (1, N'Bài Viết', N'Lưu bài viết hằng ngày', N'No image', 1)
INSERT [dbo].[Category] ([Id], [Name], [Description], [ImageUrl], [IsActive]) VALUES (2, N'Thời Khóa Biểu', N'Lưu thời khóa biểu', N'No image', 1)
INSERT [dbo].[Category] ([Id], [Name], [Description], [ImageUrl], [IsActive]) VALUES (3, N'Tài Liệu', N'Tài liệu học tập', N'No image', 1)
SET IDENTITY_INSERT [dbo].[Category] OFF
USE [master]
GO
